// SPDX-License-Identifier: GPL-2.0+

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	binman: binman {
	spi {
		filename = "rtd1625_spi_bind.bin";
		allow-repack;
		spi_bootcode: section@1 {
			size = <0x60000>; // 382k, aligned to 384k
			align-size = <0x10000>;
			pad-byte = <0xff>;
			/* 344KB: 128k(u-boot-env),154k(auxcode),62k(padding) */
			uboot_env: fill@0 {
				size = <0x20000>;
				fill-byte = [ff];
			};
			spi_auxcode: blob@0 {
				filename = "auxcode/Auxcode_Area.aiot.bin";
				size = <0x26800>;
				align-size = <0x200>;
			};
			fill@1 {
				size = <0xF800>;
				fill-byte = [ff];
			};
			spi_scs_cert: blob@1 {
				filename = "scs_certificate/SCS_Certificate.bin";
				size = <0x400>;
			};
			spi_scs_param: blob@2 {
				filename = "scs_param/0000/SCS_Params_Area.spi.dev.bin";
				size = <0x200>;
				align-size = <0x200>;
			};
			spi_extrom: blob@3 {
				filename = "extrom_dice_lib/Extrom_Dice_Lib_Area.spi.bin";
				size = <0x9200>;
				align-size = <0x200>;
			};
		};
		section@2 {
			size = <0x78000>; //480k
			pad-byte = <0xff>;
			align-size = <0x1000>;
			fit {
				description = "TrustFW fitImage for Kent";
				fit,external-offset = <0x1000>;
				fit,align = <0x1000>;

				images {
					//size = <0x72C00>; //459k
					atf_cert {
						description = "atf certificate image";
						type = "firmware";
						arch = "arm64";
						compression = "none";

						blob {
							size = <0x400>;
							filename = "atf_certificate/ATF_Certificate.bin";
						};
					};
					rtk_param {
						description = "rtk param image";
						type = "firmware";
						arch = "arm64";
						compression = "none";

						blob {
							size = <0x800>;
							filename = "rtk_param/RTK_Params_Area.bin";
						};
					};
					dram_init {
						description = "dram init image";
						type = "standalone";
						arch = "arm64";
						compression = "none";

						blob {
							size = <0x40000>;
							filename = "dram_init/DRAM_Init_Area.bin";
						};
					};
					bl31 {
						description = "bl31 image";
						type = "standalone";
						arch = "arm64";
						compression = "none";

						blob {
							size = <0x32000>;
							filename = "bl31/BL31_Area.bin";
						};
					};
				};
			};
		};
		section@3 {
			pad-byte = <0xff>;
			blob@1 {
				filename = "u-boot-spl.bin_pad";
				size = <0x25800>; // 150k
				align-size = <0x200>;
			};
		};
		section@4 {
			align = <0x100000>; // 1MB-aligned offset
			pad-byte = <0xff>;
			blob@1 {
				filename = "u-boot.img";
				size = <0xA0000>;
				align-size = <0x200>;
			};
		};
		fdtmap {
		};
		image-header {
			location = "end";
		};
	}; // SPI image
	};
};
